@model Urun

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Explanation</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Lenovo Ultrabook V4</td>
            <td>Bu ürün Eba Canavarıdır</td>
            <td>Elektronik</td>
            <td>42000</td>
        </tr>
    </tbody>
</table>